---
import { Image } from 'astro:assets';
import IMG from '../assets/promophoto.jpeg';
import SubscribeForm from '../components/SubscribeForm.astro';
---

<section class="about-section container section-seperator" id="about">
  <div class="about-body">
    <Image
      class="promo-photo"
      src={IMG}
      alt="Promo photograph of Elijah James"
      format="webp"
    />
    <p>
      E.J. Hallows writes captivating songs, which are brought to life with his
      unique, rich baritone vocal that conjures thoughts of Leonard Cohen and
      Scott Walker. A songwriter born in Liverpool, UK, his songs err on the
      side of melancholia whilst also still managing to provoke hopeful and
      nostalgic imagery in the process. With a passion for songwriting, his
      focus is mainly on deeply thought-out, spellbinding lyrics and moving
      instrumentation to deliver his unique style of song.
    </p>
  </div>
</section>

<section class="about-section container section-seperator" id="about">
  <h3>Subsribe to my newsletter</h3>
  <div class="subscribe-container">
    <SubscribeForm direction="flex" />
  </div>
</section>

<style lang="scss">
  .about-section {
    padding: 6.4rem 9.8rem 6.4rem 9.8rem;
    background-color: var(--dark-color);
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;

    & h3 {
      font-size: 1.6rem;
    }

    @media (max-width: 27em) {
      padding: 4rem 4rem;
    }

    @media (max-width: 27em) {
      padding: 6.4rem 6rem 6.4rem 6rem;
    }
  }

  .promo-photo {
    float: left;
    margin: 0 2.4rem 2.4rem 0;
    box-shadow: 2px 2px 12px -1px hsla(0, 0%, 0%, 0.774);
    height: 100%;
    width: 32rem;

    @media (max-width: 41em) {
      float: none;
    }

    @media (max-width: 29em) {
      width: 26rem;
    }
  }

  .about-body {
    max-width: 100%;

    & p {
      font-size: 2rem;
      line-height: 3rem;
    }

    @media (max-width: 59em) {
      & p {
        font-size: 1.8rem;
      }
    }

    @media (max-width: 41em) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @media (max-width: 35em) {
      & p {
        font-size: 1.6rem;
      }
    }

    @media (max-width: 29em) {
      & p {
        font-size: 1.6rem;
      }
    }
  }
</style>
