---
import { Image } from 'astro:assets';
import IMG from '../assets/5-edit-square.png';
import SubscribeForm from '../components/SubscribeForm.astro';
---

<section class="about-section container section-seperator" id="about">
  <div class="about-body">
    <Image
      class="promo-photo"
      src={IMG}
      alt="Promo photograph of Elijah James"
      format="webp"
    />
    <p>
      E.J. Hallows is a singer and songwriter from Liverpool, UK. His
      songwriting is inspired by songwriters like Joni Mitchell and Bob Dylan,
      by writers like Anton Chekhov and Raymond Carver, by photographers like W.
      Eugene Smith and William Klein, by painters like Francis Bacon and
      Zdzisław Beksiński, or by poets like Sylvia Plath and Anne Sexton, to name
      a few.
      <br />
      <br />
      (If anyone wants to write me a bio, please send me it)
    </p>
  </div>
</section>

<section class="about-section container section-seperator" id="about">
  <h3>Subsribe to my newsletter</h3>
  <div class="subscribe-container">
    <SubscribeForm direction="flex" />
  </div>
</section>

<style lang="scss">
  .about-section {
    padding: 6.4rem 9.8rem 6.4rem 9.8rem;
    background-color: var(--dark-color);
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;

    & h3 {
      font-size: 1.6rem;
    }

    @media (max-width: 27em) {
      padding: 4rem 4rem;
    }

    @media (max-width: 27em) {
      padding: 6.4rem 6rem 6.4rem 6rem;
    }
  }

  .promo-photo {
    float: left;
    margin: 0 2.4rem 2.4rem 0;
    box-shadow: 2px 2px 12px -1px hsla(0, 0%, 0%, 0.774);
    height: 100%;
    width: 32rem;

    @media (max-width: 41em) {
      float: none;
    }

    @media (max-width: 29em) {
      width: 26rem;
    }
  }

  .about-body {
    max-width: 100%;

    & p {
      font-size: 2rem;
      line-height: 3rem;
    }

    @media (max-width: 59em) {
      & p {
        font-size: 1.8rem;
      }
    }

    @media (max-width: 41em) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    @media (max-width: 35em) {
      & p {
        font-size: 1.6rem;
      }
    }

    @media (max-width: 29em) {
      & p {
        font-size: 1.6rem;
      }
    }
  }
</style>
