---

---

<footer class="footer">
  <h2 class="header-logo">E.J. Hallows</h2>
  <span class="info"
    ><span class="link">Built using Astro by Elijah James</span><br /><br />All
    Rights Reserved E.J. Hallows &copy; <span class="copy-date">2022</span
    ></span
  >
</footer>

<script>
  const copyrightDate = document.querySelector('.copy-date');

  const date = new Date();
  const year = date.getFullYear();
  copyrightDate.textContent = year.toString();
</script>

<style lang="scss">
  .footer {
    padding: 6.4rem 9.8rem 6.4rem 9.8rem;
    background-color: #090d16;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;

    @media (max-width: 41em) {
      padding: 6.4rem 4rem 6.4rem 4rem;
    }

    @media (max-width: 35em) {
      padding: 6.4rem 4rem 6.4rem 4rem;
    }
  }

  .header-logo {
    font-size: 4rem !important;
    text-transform: uppercase;
    font-family: 'Roca', sans-serif !important;

    @media (max-width: 35em) {
      font-size: 1rem !important;
    }

    @media (max-width: 27em) {
      font-size: 1.6rem !important;
      cursor: pointer;
    }
  }

  .logo-footer {
    height: 20%;
    width: 20%;

    @media (max-width: 35em) {
      height: 40%;
      width: 40%;
    }
  }

  .info {
    @media (max-width: 35em) {
      width: 30rem;
    }
  }

  footer span {
    font-size: 1rem;
    max-width: 40%;
    text-align: start;

    @media (max-width: 35em) {
      font-size: 1rem;
    }

    @media (max-width: 27em) {
      font-size: 0.8rem;
    }
  }
</style>
