---

---

<footer class="footer">
  <h1 class="header-logo">E.J. Hallows</h1>
  <span class="info"
    ><span class="link">Built using Astro by Elijah James</span><br /><br />All
    Rights Reserved E.J. Hallows &copy; <span class="copy-date">2022</span
    ></span
  >
</footer>

<script>
  const copyrightDate = document.querySelector('.copy-date');

  const date = new Date();
  const year = date.getFullYear();
  copyrightDate.textContent = year.toString();
</script>

<style lang="scss">
  .footer {
    padding: 6.4rem 9.8rem 6.4rem 9.8rem;
    background-color: #090d16;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .header-logo {
    font-size: 4rem !important;
    text-transform: uppercase;

    @media (max-width: 35em) {
      font-size: 1rem !important;
    }
  }

  .logo-footer {
    height: 20%;
    width: 20%;
  }

  .info {
    @media (max-width: 35em) {
      width: 30rem;
    }
  }

  footer span {
    font-size: 1rem;
    max-width: 40%;
    text-align: end;
  }
</style>
