---
import SocialIconNav from '../components/SocialIconNav.astro';
---

<header class="hero">
  <div class="section-header">
    <nav class="main-nav">
      <a href="#" class="link-scroll">
        <img
          src="src/assets/ejandtn-logo.png"
          alt="Elijah James And The Nightmares logo"
          class="header-logo"
        /></a
      >
      <ul class="nav-pages">
        <li><a class="link link-scroll" href="#tour">Tour</a></li>
        <li><a class="link link-scroll" href="#music">Music</a></li>
        <li><a class="link link-scroll" href="#videos">Videos</a></li>
        <li><a class="link link-scroll" href="#about">About</a></li>
        <li>
          <a
            class="link"
            href="https://ejandtn.bandcamp.com/merch"
            target="_blank"
            rel="noreferrer noopener">Shop</a
          >
        </li>
      </ul>

      <SocialIconNav iconHeight="3.2rem" iconWidth="3.2rem" />
    </nav>

    <div class="header-container">
      <div class="header-container-inner">
        <div class="header-text">
          New album <br />
          'The Hellish Bending <br /> Towards The Light' <br />
          Out Now
        </div>
        <a class="link-scroll" href="#music"
          ><button class="btn listen-btn">Listen</button></a
        >
        <a
          href="https://goldenbelieversrecords.bandcamp.com/album/the-hellish-bending-towards-the-light"
          target="_blank"
          rel="noreferrer noopener"
          ><button class="btn buy-btn">Buy Here</button></a
        >
      </div>
    </div>
  </div>
</header>

<script>
  const navLinks = document.querySelectorAll('.link-scroll');
  const stickyNav = document.querySelector('.sticky-nav');
  const stickyNavHeight = (document.querySelector('.sticky-nav') as HTMLElement)
    .offsetHeight;

  function scrollToElement(e) {
    e.preventDefault();

    const href = this.getAttribute('href');

    if (href === '#') {
      window.scrollTo({
        top: 0,
        behavior: 'smooth',
      });
      return;
    }

    const element = document.querySelector(href);

    const elementPosition = element.getBoundingClientRect().top;

    const scrollTo = elementPosition + window.pageYOffset - stickyNavHeight;

    if (href !== '#' && href.startsWith('#')) {
      window.scrollTo({
        top: scrollTo,
        behavior: 'smooth',
      });
    }

    if (stickyNav.classList.contains('nav-open')) {
      stickyNav.classList.toggle('nav-open');
    }
  }

  navLinks.forEach(link => link.addEventListener('click', scrollToElement));
</script>

<style lang="css">
  header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(
        rgba(34, 34, 34, 0.3),
        rgba(34, 34, 34, 0.3)
      ),
      url(../assets/Because-im-a-giantai-art-only-2-reduce.jpg);
    background-position: center center;
    background-size: cover;
  }

  .section-header {
    position: absolute;
    top: 8rem;
    left: 8rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .header-logo {
    width: 38rem;
    cursor: pointer;

    margin-bottom: -0.4rem;
  }

  .main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .nav-pages {
    list-style: none;

    display: flex;
    gap: 2rem;
  }

  .nav-pages li {
    font-size: 2rem;
    text-transform: uppercase;
    cursor: pointer;
  }

  .header-container-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .header-text {
    font-family: 'rockwell', sans-serif;
    font-size: 2.4rem;
    line-height: 3.2rem;
    text-transform: uppercase;
    text-align: center;
  }

  .listen-btn {
    padding: 1.2rem 2.4rem 1.2rem 2.4rem !important;
  }

  .listen-btn::after {
    content: '';
    width: 10.2rem;
    height: 0.2rem;
    background-color: var(--light-color);

    position: absolute;
    bottom: -0.8rem;
    left: 0;

    transition: all 0.3s;
  }

  .listen-btn:hover::after {
    transform: translateY(-0.6rem);
  }

  .buy-btn::after {
    content: '';
    width: 10.4rem;
    height: 0.2rem;
    background-color: var(--light-color);

    position: absolute;
    bottom: -0.8rem;
    left: 0;

    transition: all 0.3s;
  }

  .buy-btn:hover::after {
    transform: translateY(-0.6rem);
  }
</style>
