---
import SocialIconNav from '../components/SocialIconNav.astro';
import HEROIMAGE from '../assets/the-hellish-bending-towards-the-light-web-banner-black.webp';
import BubbleNav from '../components/BubbleNav.astro';
import { Image } from 'astro:assets';
---

<header class="hero">
  <BubbleNav />

  <div class="hero-container">
    <Image
      src={HEROIMAGE}
      alt="E.J. Hallows Album Artwork as Hero Image"
      class="hero-image"
      format="webp"
    />
  </div>

  <div class="section-header">
    <nav class="main-nav">
      <a
        href="#"
        class="link-scroll header-logo-link"
        aria-label="Link to take you to top of page"
      >
        <h1 class="header-logo">E.J. Hallows</h1>
      </a>
      <ul class="nav-pages">
        <li>
          <a
            class="link link-scroll"
            href="/tour"
            aria-label="Link to tour page">Tour</a
          >
        </li>
        <li>
          <a
            class="link link-scroll"
            href="/music"
            aria-label="Link to scroll down to music section">Music</a
          >
        </li>
        <li>
          <a
            class="link link-scroll"
            href="/videos"
            aria-label="Link to scroll down to videos section">Videos</a
          >
        </li>
        <li>
          <a
            class="link link-scroll"
            href="/about"
            aria-label="Link to scroll down to about section">About</a
          >
        </li>
        <li>
          <a
            class="link"
            href="https://ejhallows.bandcamp.com"
            target="_blank"
            rel="noreferrer noopener"
            aria-label="Link to take you to bandcamp merch shop">Shop</a
          >
        </li>
      </ul>

      <SocialIconNav iconHeight="3.2rem" iconWidth="3.2rem" />
    </nav>

    <div class="header-container">
      <div class="header-container-inner">
        <h3 class="header-text">
          <span class="album-title-hero"
            >'The Hellish Bending <br /> Towards The Light' <br /></span
          >
          Out Now!
        </h3>
        <a
          class="link-scroll"
          href="https://ditto.fm/the-hellish-bending-towards-the-light-ej-hallows"
          aria-label="Link to take you to the music section"
          target="_blank"
          rel="noreferrer noopener"
          ><button class="btn listen-btn">Listen</button></a
        >
        <a
          href="https://ejhallows.bandcamp.com/album/the-hellish-bending-towards-the-light"
          target="_blank"
          rel="noreferrer noopener"
          aria-label="Link to take you to bandcamp page for the album The Hellish Bending Towards The Light"
          ><button class="btn buy-btn">Buy Here</button></a
        >
      </div>
    </div>
  </div>
</header>

<style lang="scss">
  header {
    height: 100svh;
    width: 100%;
    overflow: hidden;

    position: relative;

    @media (max-width: 35em) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .hero-container {
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .hero-image {
    height: 100%;
    width: 100%;
    object-fit: cover;

    @media (max-width: 51em) {
      object-position: -40rem 0rem;
    }

    @media (max-width: 35em) {
      height: 70rem;
      object-position: -60rem 0rem;
    }
  }

  .section-header {
    position: absolute;
    top: 8rem;
    left: 8rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    background-color: var(--dark-color-less-transparent);
    box-shadow: 0 0 80px 80px var(--dark-color-less-transparent);

    @media (max-width: 59em) {
      padding: 8rem 2rem 2rem 2rem;
      top: 0;

      z-index: 2;

      background-color: var(--dark-color-less-transparent);
      box-shadow: 0 0 80px 80px var(--dark-color-less-transparent);

      height: 100vh;
    }

    @media (max-width: 35em) {
      position: static;
      margin: 0 auto;
      padding: 4rem 1rem;
      height: 100vh;
      width: 100%;
    }
  }

  .header-logo {
    text-align: center;
    font-size: 4rem !important;

    @media (max-width: 35em) {
      font-size: 3rem !important;
      width: 34rem;
      cursor: pointer;
    }
  }

  .header-logo-link {
    text-decoration: none;
    color: white !important;
    text-transform: uppercase;
    margin-bottom: -0.6rem;

    & h1 {
      font-family: 'Roca', sans-serif !important;
    }
  }

  .album-title-hero {
    color: var(--primary-color);
  }

  .main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .nav-pages {
    list-style: none;

    display: flex;
    gap: 2rem;

    @media (max-width: 27em) {
      gap: 2.2rem;
    }
  }

  .nav-pages li {
    font-size: 2rem;
    text-transform: uppercase;
    cursor: pointer;

    @media (max-width: 35em) {
      font-size: 1.8rem;
      text-transform: uppercase;
      cursor: pointer;
    }

    @media (max-width: 27em) {
      font-size: 1.6rem;
      text-transform: uppercase;
      cursor: pointer;
    }
  }
  .header-container-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    text-transform: uppercase;
  }

  .header-text {
    font-family: 'Roca', sans-serif !important;
    font-size: 2.4rem;
    font-weight: 900;
    line-height: 3rem;
    text-align: center;

    color: var(--primary-color);
    margin-bottom: -1rem;

    @media (max-width: 35em) {
      line-height: 2rem;
      font-size: 2.4rem;
    }

    @media (max-width: 27em) {
      font-size: 2.2rem;
    }
  }

  .listen-btn {
    padding: 1.2rem 2.4rem 1.2rem 2.4rem !important;
    font-size: 1.8rem !important;
  }

  .listen-btn::after {
    content: '';
    width: 9.7rem;
    height: 0.2rem;
    background-color: var(--light-color);

    position: absolute;
    bottom: -0.8rem;
    left: 0;

    transition: all 0.3s;
  }

  .listen-btn:hover::after {
    transform: translateY(-0.6rem);
  }

  .buy-btn {
    font-size: 1.8rem !important;
  }

  .buy-btn::after {
    content: '';
    width: 9.58rem;
    height: 0.2rem;
    background-color: var(--light-color);

    position: absolute;
    bottom: -0.8rem;
    left: 0;

    transition: all 0.3s;

    @media (max-width: 27em) {
      width: 9.2rem;
    }
  }

  .buy-btn:hover::after {
    transform: translateY(-0.6rem);
  }
</style>
