---

---

<section class="contact-section container section-seperator">
  <h2 class="contact-header">Contact</h2>
  <div class="contact-body grid--3-cols">
    <div class="contact-items">
      <h3>Bookings</h3>
      <h4>Email:</h4>
      <a class="link" href="mailto: hellointhere@ejhallows.com"
        ><span class="contact-item"
          >hellointhere<br />{'{at}'}<br />ejhallows<br />{'{dot}'}<br
          />com</span
        ></a
      >
    </div>
    <div class="contact-items">
      <h3>Press Kit</h3>
      <a
        class="link"
        href="https://drive.google.com/file/d/1oAGTsDleDQ97H_WKhiPKvpHt2KvblWBp/view?usp=sharing"
        target="_blank"
        rel="noreferrer noopener"
        ><span class="contact-item">Artist Bio</span></a
      >
      <a
        class="link"
        href="https://drive.google.com/file/d/1Pu2YNS_SxN7tUmYx7JutEKL9PPxrDypX/view?usp=sharing"
        target="_blank"
        rel="noreferrer noopener"
        ><span class="contact-item">Press Photo</span></a
      >
      <a
        class="link"
        href="https://drive.google.com/file/d/101fMKmCwFL-e6huny9BiqsGLO9oPL9jc/view?usp=sharing"
        target="_blank"
        rel="noreferrer noopener"
        ><span class="contact-item">Album Mini</span></a
      >
      <a
        class="link"
        href="https://drive.google.com/drive/folders/1MEuYrKE82B5C12e1-hOxrQniThP4pLb1?usp=sharing"
        target="_blank"
        rel="noreferrer noopener"><span class="contact-item">Band Logo</span></a
      >
    </div>
    <div class="contact-items">
      <h3>Connect</h3>
      <a
        class="link"
        href="https://www.facebook.com/ejhallows"
        target="_blank"
        rel="noreferrer noopener"><span class="contact-item">Facebook</span></a
      >
      <a
        class="link"
        href="https://www.instagram.com/ejhallows"
        target="_blank"
        rel="noreferrer noopener"><span class="contact-item">Instagram</span></a
      >
      <a
        class="link"
        href="https://twitter.com/ejhallows"
        target="_blank"
        rel="noreferrer noopener"><span class="contact-item">Twitter</span></a
      >
      <a
        class="link"
        href="https://www.youtube.com/@ejhallows"
        target="_blank"
        rel="noreferrer noopener"><span class="contact-item">YouTube</span></a
      >
    </div>
  </div>

  <style lang="scss">
    .contact-section {
      padding: 6.4rem 9.8rem 6.4rem 9.8rem;
      background-color: #090d16;
      position: relative;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3.2rem;

      @media (max-width: 41em) {
        padding: 6rem 6rem 6.4rem 5rem;
      }

      @media (max-width: 35em) {
        padding: 6rem 6rem 6.4rem 5rem;
      }
    }

    .contact-body {
      width: 100%;

      @media (max-width: 29em) {
        display: flex;
        flex-direction: column;
      }

      @media (max-width: 27em) {
        display: flex !important;
        flex-direction: column;
      }
    }

    .contact-header {
      font-size: 3rem;
    }

    .contact-items {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.2rem;
    }

    .contact-items a {
      text-align: center;
    }

    .contact-items h3 {
      font-size: 2rem;
    }

    .contact-item {
      font-size: 1.6rem;

      @media (max-width: 41em) {
        font-size: 1.4rem;
      }

      @media (max-width: 29em) {
        font-size: 1.6rem;
      }

      @media (max-width: 27em) {
        font-size: 1.6rem;
      }
    }
  </style>
</section>
