---
---

<section class="contact-section container section-seperator">
  <h1 class="contact-header">Contact</h1>
  <div class="contact-body grid--3-cols">
    <div class="contact-items">
      <h2>Bookings</h2>
      <h3>Email:</h3>
      <a class="link" href="mailto: ejandtn@gmail.com"
        ><span class="contact-item">ejandtn@gmail.com</span></a
      >
    </div>
    <div class="contact-items">
      <h2>Press Kit</h2>
      <a
        class="link"
        href="https://drive.google.com/file/d/16DW3MQBKSKfyEvJ2MDFgAWfpwH7Aity6/view?usp=sharing"
        target="_blank"
        rel="noreferrer noopener"
        ><span class="contact-item">Artist Bio</span></a
      >
      <a
        class="link"
        href="https://drive.google.com/file/d/1dITwndXfIlsleEdJsL-mjHdtDDLkHlfh/view?usp=sharing"
        target="_blank"
        rel="noreferrer noopener"
        ><span class="contact-item">Press Photo</span></a
      >
      <a
        class="link"
        href="https://drive.google.com/file/d/1TiC6ls9X0Sb_Ig09DWPp50JkZIX84azO/view?usp=sharing"
        target="_blank"
        rel="noreferrer noopener"
        ><span class="contact-item">Album Mini</span></a
      >
      <a
        class="link"
        href="https://drive.google.com/file/d/1ScRA2yURHtkHpltbXDIs2Xco7AXwTsV-/view?usp=sharing"
        target="_blank"
        rel="noreferrer noopener"><span class="contact-item">Band Logo</span></a
      >
    </div>
    <div class="contact-items">
      <h2>Connect</h2>
      <a
        class="link"
        href="https://www.facebook.com/EJANDTN"
        target="_blank"
        rel="noreferrer noopener"><span class="contact-item">Facebook</span></a
      >
      <a
        class="link"
        href="https://www.instagram.com/ejandtn/"
        target="_blank"
        rel="noreferrer noopener"><span class="contact-item">Instagram</span></a
      >
      <a
        class="link"
        href="https://twitter.com/EJANDTN"
        target="_blank"
        rel="noreferrer noopener"><span class="contact-item">Twitter</span></a
      >
      <a
        class="link"
        href="https://www.youtube.com/channel/UCL_coC_N5kLJ-AcbMh3I_fg"
        target="_blank"
        rel="noreferrer noopener"><span class="contact-item">YouTube</span></a
      >
      <a
        class="link"
        href="https://open.spotify.com/artist/7lw3bqd3rCmIYcpy6PnNor?si=LOx3w-k8QfG_Lh5FTb2_Jw"
        target="_blank"
        rel="noreferrer noopener"><span class="contact-item">Spotify</span></a
      >
      <a
        class="link"
        href="https://music.apple.com/gb/artist/elijah-james-and-the-nightmares/1271334018"
        target="_blank"
        rel="noreferrer noopener"
        ><span class="contact-item">Apple Music</span></a
      >
    </div>
  </div>
</section>

<style>
  .contact-section {
    padding: 6.4rem 9.8rem 6.4rem 9.8rem;
    background-color: #090d16;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
  }

  .contact-body {
    width: 100%;
  }

  .contact-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
  }

  .contact-items a {
    text-align: center;
  }

  .contact-item {
    font-size: 1.6rem;
  }
</style>
