---
---

<section class="contact-section container section-seperator">
  <h1 class="contact-header">Contact</h1>
  <div class="contact-body grid--3-cols">
    <div class="contact-items">
      <h2>Bookings</h2>
      <h3>Email:</h3>
      <a
        class="link"
        href="mailto: hellointhere@elijahjamesandthenightmares.com"
        ><span class="contact-item"
          >hellointhere<br />{'{at}'}<br />elijahjamesandthenightmares<br />{
            '{dot}'
          }<br />com</span
        ></a
      >
    </div>
    <div class="contact-items">
      <h2>Press Kit</h2>
      <a
        class="link"
        href="https://drive.google.com/file/d/16DW3MQBKSKfyEvJ2MDFgAWfpwH7Aity6/view?usp=sharing"
        target="_blank"
        rel="noreferrer noopener"
        ><span class="contact-item">Artist Bio</span></a
      >
      <a
        class="link"
        href="https://drive.google.com/file/d/1dITwndXfIlsleEdJsL-mjHdtDDLkHlfh/view?usp=sharing"
        target="_blank"
        rel="noreferrer noopener"
        ><span class="contact-item">Press Photo</span></a
      >
      <a
        class="link"
        href="https://drive.google.com/file/d/1UPsZPZBTUql9FkWDPYh4HlSwfwkT7_zW/view?usp=sharing"
        target="_blank"
        rel="noreferrer noopener"
        ><span class="contact-item">Album Mini</span></a
      >
      <a
        class="link"
        href="https://drive.google.com/file/d/1ScRA2yURHtkHpltbXDIs2Xco7AXwTsV-/view?usp=sharing"
        target="_blank"
        rel="noreferrer noopener"><span class="contact-item">Band Logo</span></a
      >
    </div>
    <div class="contact-items">
      <h2>Connect</h2>
      <a
        class="link"
        href="https://linktr.ee/ejandtn"
        target="_blank"
        rel="noreferrer noopener"
        ><span class="contact-item">Everything</span></a
      >
      <a
        class="link"
        href="https://www.facebook.com/EJANDTN"
        target="_blank"
        rel="noreferrer noopener"><span class="contact-item">Facebook</span></a
      >
      <a
        class="link"
        href="https://www.instagram.com/ejandtn/"
        target="_blank"
        rel="noreferrer noopener"><span class="contact-item">Instagram</span></a
      >
      <a
        class="link"
        href="https://twitter.com/EJANDTN"
        target="_blank"
        rel="noreferrer noopener"><span class="contact-item">Twitter</span></a
      >
      <a
        class="link"
        href="https://www.youtube.com/channel/UCL_coC_N5kLJ-AcbMh3I_fg"
        target="_blank"
        rel="noreferrer noopener"><span class="contact-item">YouTube</span></a
      >
    </div>
  </div>
</section>

<style>
  .contact-section {
    padding: 6.4rem 9.8rem 6.4rem 9.8rem;
    background-color: #090d16;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
  }

  .contact-body {
    width: 100%;
  }

  .contact-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
  }

  .contact-items a {
    text-align: center;
  }

  .contact-item {
    font-size: 1.6rem;
  }
</style>
