---
export async function getStaticPaths() {
  // const API: string = import.meta.env.API;
  // const res = await fetch(`${API}/day-tickets`);
  // const { data: dayTickets }: { data: DayTicket[] } = await res.json();
  // return dayTickets?.map(ticket => ({
  //   params: { id: ticket.id },
  //   props: ticket.attributes,
  // }));
}

const post = Astro.props;
---

<h1></h1>
