---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Gallery from '../../components/blog/Gallery.astro';
import { BLOG_TITLE, BLOG_DESCRIPTION } from '../../consts';
import { Icon } from 'astro-icon';
import axios from 'axios';
import Header from '../../components/Header.astro';

const API: string = import.meta.env.API;
const { data } = await axios.get(`${API}/sub-count`);
const subscribers = data.total;
---

<BaseLayout title={BLOG_TITLE} description={BLOG_DESCRIPTION}>
  <div class="container">
    <Header href="/blog" header="Blog" linkBack />

    <p>
      {BLOG_DESCRIPTION.slice(0, -1)}.
    </p>

    <p>Subscribe to our newsletter to get regular updates!</p>

    <div class="sub-box">
      <div class="cur-subs">
        <span>Current Subs:</span><span class="sub-num">{subscribers}</span>
      </div>

      <a
        class="sub-link"
        href="/subscribe/"
        aria-label="Link to take you to the subscribe page"
        ><button class="blog-sub-btn btn">Subscribe</button></a
      >
    </div>

    <p class="rss">
      Alternatively, click on the RSS icon below to subscribe to our RSS feed.
      <a
        class="icon-link"
        href="/blog/rss.xml"
        target="_blank"
        rel="noreferrer noopener"
        aria-label="Link to take you to the rss feed"
        ><Icon pack="mdi" class="icon" name="rss" /></a
      >
    </p>

    <span>Click an image to read the blog post!</span>

    <Gallery />
  </div>
</BaseLayout>

<style lang="scss">
  .container {
    height: 100%;
    max-width: 80rem;
    font-family: sinter, sans-serif;
    position: relative;
    color: #f0f2e6;
    background-color: #090d16;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1.4rem;
  }

  a {
    text-decoration: underline !important;
  }

  p {
    max-width: 50rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding: 0 1rem;
  }

  span {
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding: 0 1rem;
  }

  .rss {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .icon-link {
    border: var(--border);
    transition: all 0.2s linear;

    &:hover {
      transform: scale(110%);
      color: var(--primary-color);
    }

    &:hover [astro-icon] {
      color: var(--primary-color);
    }
  }

  [astro-icon] {
    height: 3rem;
    width: 3rem;
    color: #f0f2e6;

    transition: all 0.2s linear;

    &:hover {
      color: var(--primary-color);
    }
  }

  .cur-subs {
    border: var(--border);
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;

    span {
      padding: 0;
    }
  }

  .sub-num {
    font-size: 1.8rem;
    color: var(--primary-color);
  }

  .sub-box {
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
  }

  @keyframes borderFade {
    0% {
      border-bottom: solid 0.2rem rgba(198, 47, 59, 0.8);
    }

    70% {
      border-bottom: solid 0.2rem rgba(198, 47, 59, 0);
    }

    100% {
      border-bottom: solid 0.2rem rgba(198, 47, 59, 0);
    }
  }

  .blog-sub-btn {
    font-size: 1.8rem;

    animation: borderFade 1.6s alternate infinite;

    &:hover {
      color: rgba(198, 47, 59);
    }
  }
</style>
