---
import { SITE_TITLE as title } from '../consts';
import { SITE_DESCRIPTION as description } from '../consts';

import Hero from '../features/Hero.astro';
import Subscribe from '../components/Subscribe.astro';
import Tour from '../components/Tour.astro';
import Music from '../features/Music.astro';
import Video from '../features/Video.astro';
import About from '../features/About.astro';
import Links from '../features/Links.astro';
import Footer from '../features/Footer.astro';
import StickyNav from '../components/StickyNav.astro';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <link rel="stylesheet" href="https://use.typekit.net/jmg5pxd.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>
  </head>
  <body>
    <div class="container">
      <Hero />

      <StickyNav />

      <Subscribe />

      <Tour />

      <Music />

      <Video />

      <About />

      <Links />

      <Footer />
    </div>
  </body>
</html>

<style is:global>
  :root {
    --primary-color: #6e95ce;

    --grey-color: #f0f2e66b;

    --light-color: #f0f2e6;
    --dark-color: #090d16;

    --border: 0.2rem solid var(--light-color);
  }

  *,
  *::after,
  *::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
  }

  *:focus {
    outline: none;
    box-shadow: 0 0 0 0.4rem var(--primary-color);
  }

  html {
    font-family: system-ui, sans-serif;
    background-color: var(--light-color);

    font-size: 62.5%;
    box-sizing: border-box;

    overflow-x: hidden;
  }

  body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    color: var(--light-color);
  }

  h1 {
    font-family: 'rockwell', sans-serif;
    font-size: 3.6rem;
  }

  h2 {
    font-family: 'rockwell', sans-serif;
    font-size: 2.8rem;
  }

  h3 {
    font-family: 'rockwell', sans-serif;
    font-size: 2rem;
  }

  p {
    font-size: 1.2rem;
  }

  .container {
    margin: 0 auto;
    height: 100%;
  }

  /*
	****************************************
	LINKS
	****************************************
	*/

  .link:link,
  .link:visited {
    display: inline-block;
    text-decoration: none;
    color: inherit;

    transition: all 0.3s;
  }

  .link:hover,
  .link:active {
    text-decoration: none;
    color: var(--primary-color);
    transform: scale(1.05);
  }

  /*
	****************************************
	DEFAULT STYLES
	****************************************
	*/

  .section-seperator::after {
    content: '';
    width: 90%;
    position: absolute;
    bottom: 0;
    border-bottom: 0.1rem solid rgba(240, 242, 230, 0.603);
  }

  .grid--2-cols {
    display: grid;
    gap: 3.6rem;
    grid-template-columns: 1fr 1fr;
  }

  .grid--3-cols {
    display: grid;
    gap: 3.6rem;
    grid-template-columns: 1fr 1fr 1fr;
  }

  /*
	****************************************
	BUTTONS
	****************************************
	*/

  .btn,
  .btn:link,
  .btn:active {
    font-family: inherit;
    font-size: 2rem;
    padding: 1.2rem;
    border: none;
    background-color: transparent;
    color: var(--light-color);
    border-bottom: 0.2rem solid var(--light-color);
    cursor: pointer;

    position: relative;

    transition: all 0.3s;
  }

  .btn:hover,
  .btn:visited {
    transform: scale(1.05);
  }

  .nodisplay {
    display: none;
  }

  .nooverflow {
    overflow: hidden !important;
  }

  .opacity {
    opacity: 1;
    pointer-events: auto;
  }

  /*
	****************************************
 MEDIA QUERIES 
 TODO REFACTOR, SHOULDN'T ALL BE IN ONE FILE!
	****************************************
	*/

  @media (max-width: 59em) {
    h1 {
      font-size: 3.2rem;
    }

    h2 {
      font-size: 2.6rem;
      text-align: center;
    }

    .form-input {
      width: 18rem;
    }

    .about-body p {
      font-size: 1.8rem;
    }

    .btn-mobile-nav {
      display: block;
      z-index: 9999;
    }

    .sticky-nav-pages {
      background-color: rgba(9, 13, 22, 0.89);
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(100%);

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      transition: all 0.5s ease-in;

      opacity: 0;
      pointer-events: none;
      visibility: hidden;
    }

    .nav-open .sticky-nav-pages {
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
      transform: translateX(0);
    }

    .sticky-nav-link {
      font-size: 3rem;
    }

    .album {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
    }

    .album-title {
      font-size: 1.8rem;
    }

    .album .img-title-date {
      order: 2;
    }

    .album-modal-btns a {
      width: 30%;
    }

    .tracklist {
      order: 2;
    }

    .album .desc-modal {
      order: 2;
    }

    .album .credits {
      order: 3;
    }
  }

  @media (max-width: 51em) {
    h2 {
      font-size: 2.4rem;
    }

    h3 {
      font-size: 1.8rem;
    }

    .subscribe-section {
      padding: 8.8rem;
    }

    .form {
      display: grid;
      row-gap: 2.8rem;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
    }

    .form li:last-child {
      grid-column: 2/3;
    }

    .form-input {
      width: 20rem;
    }

    .album-gallery {
      display: flex;
      flex-direction: column;
    }

    .album-artwork {
      width: 80%;
    }

    .video-gallery {
      display: flex;
      flex-direction: column;
    }
  }

  @media (max-width: 41em) {
    h2 {
      font-size: 2rem;
      text-align: center;
    }

    h3 {
      font-size: 1.4rem;
    }

    .form {
      display: grid;
      row-gap: 2.8rem;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      justify-items: center;
    }

    .form li:nth-child(3) {
      grid-column: 1/3;
      grid-row: 2/3;
    }

    .form li:last-child {
      grid-column: 1/3;
      grid-row: 3/4;
    }

    .form-input {
      width: 20rem;
    }

    .modal-body {
      width: 95%;
      padding: 2rem;
    }

    .album-modal-btns a {
      width: 40%;
    }

    .album-artwork-modal {
      margin: 0 auto;
      width: 30rem;
    }

    .about-body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .promo-photo {
      float: none;
    }

    .contact-item {
      font-size: 1.4rem;
    }

    .contact-section {
      padding: 6rem 6rem 6.4rem 5rem;
    }

    .footer {
      padding: 6.4rem 4rem 6.4rem 4rem;
    }
  }

  /*
FOR MOBILE
*/

  @media (max-width: 35em) {
    h1 {
      font-size: 2.8rem;
    }

    h2 {
      font-size: 1.8rem;
      text-align: center;
    }

    h3 {
      font-size: 1.2rem;
      text-align: center;
    }

    header {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .header-logo {
      width: 34rem;
      cursor: pointer;
    }

    .nav-pages li {
      font-size: 1.8rem;
      text-transform: uppercase;
      cursor: pointer;
    }

    .bit-widget-container {
      align-self: center;
    }

    .icon {
      height: 2.4rem;
      width: 2.4rem;
    }

    .header-text {
      font-size: 2.2rem;
    }

    .section-header {
      position: static;
      margin: 4rem auto;
    }

    .modal-body {
      padding: 2rem;
    }

    .album-modal-btns a {
      width: 40%;
    }

    .about-body p {
      font-size: 1.6rem;
    }

    .music-section {
      padding: 6.4rem 6rem 6.4rem 6rem;
    }

    footer span {
      font-size: 1rem;
    }

    .contact-section {
      padding: 6rem 6rem 6.4rem 5rem;
    }

    .footer {
      padding: 6.4rem 4rem 6.4rem 4rem;
    }

    .logo-footer {
      height: 40%;
      width: 40%;
    }
  }

  @media (max-width: 29em) {
    .contact-header {
      font-size: 3.4rem;
    }

    h2 {
      font-size: 2.4rem;
      text-align: center;
    }
    .form {
      display: flex;
      flex-direction: column;
      row-gap: 2.8rem;
    }

    .form-input {
      width: 26rem;
    }

    .video-section {
      padding: 6.4rem 6rem 6.4rem 6rem;
    }

    .music-section {
      padding: 6.4rem 6rem 6.4rem 6rem;
    }

    .album-artwork {
      width: 100%;
    }

    .album-modal {
      padding: 6rem 3rem 6rem 3rem;
    }

    .modal-body {
      width: 100%;
    }

    .close-modal-icon {
      height: 3rem;
      width: 3rem;
    }

    .tracklist ol {
      font-size: 1.4rem;
    }

    .tracklist ol span {
      font-size: 1.6rem;
    }

    .desc-modal p {
      font-size: 1.4rem;
    }

    .album-modal-btns a {
      width: 40%;
    }

    .album-artwork-modal {
      margin: 0 auto;
      width: 25rem;
    }

    .promo-photo {
      width: 26rem;
    }

    .about-body p {
      font-size: 1.6rem;
    }

    .contact-body {
      display: flex;
      flex-direction: column;
    }

    .contact-item {
      font-size: 1.6rem;
    }

    .footer {
      padding: 6.4rem 4rem 6.4rem 4rem;
    }
  }

  @media (max-width: 27em) {
    .contact-header {
      font-size: 3.4rem;
    }

    h2 {
      font-size: 2.4rem;
      text-align: center;
    }

    .header-logo {
      width: 28rem;
      cursor: pointer;
    }
    .nav-pages li {
      font-size: 1.4rem;
      text-transform: uppercase;
      cursor: pointer;
    }

    .icon {
      height: 2rem;
      width: 2rem;
    }

    .header-text {
      font-size: 1.8rem;
    }

    .music-section {
      padding: 6.4rem 6rem 6.4rem 6rem;
    }

    .album-modal {
      padding: 6rem 3rem 6rem 3rem;
    }

    .modal-body {
      width: 100%;
    }

    .btn {
      font-size: 1.8rem;
      padding: 1rem !important;
    }

    .listen-btn::after {
      width: 6.9rem;
    }

    .buy-btn::after {
      width: 9.2rem;
    }

    .about-section {
      padding: 6.4rem 6rem 6.4rem 6rem;
    }

    .contact-body {
      display: flex;
      flex-direction: column;
    }

    .contact-item {
      font-size: 1.6rem;
    }

    .footer {
      padding: 6.4rem 4rem 6.4rem 4rem;
    }

    .logo-footer {
      height: 40%;
      width: 40%;
    }

    footer span {
      font-size: 0.8rem;
    }
  }
</style>
