---
import { SITE_TITLE as title } from '../consts';
import { SITE_DESCRIPTION as description } from '../consts';

import Hero from '../features/Hero.astro';
import Subscribe from '../components/Subscribe.astro';
import Links from '../features/Links.astro';
import Footer from '../features/Footer.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title={title} description={description}>
  <div class="container">
    <Hero />

    <Subscribe />

    <Links />

    <Footer />
  </div>
</BaseLayout>

<style lang="scss">
  .container {
    position: relative;
  }
</style>
