---
import { SITE_TITLE as title } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <h1>EJANDTN</h1>
  </body>
</html>
<style is:global>
  :root {
    --primary-color: #6e95ce;

    --light-color: #f0f2e6;
    --dark-color: #090d16;
  }

  *,
  *::after,
  *::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
  }

  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;

    font-size: 62.5%;
    box-sizing: border-box;
  }

  body {
    font-size: 1.6rem;
  }
</style>
