---
import { SUBSCRIBE_TITLE as title } from '../consts';
import { SUBSCRIBE_DESCRIPTION as description } from '../consts';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title={title} description={description}>
  <h1>Subscribe</h1>
</BaseLayout>
