---
import { format } from 'date-fns';
import { marked } from 'marked';
type Props = DayTicketAttributes;

const { title, body, date_created, publishedAt } = Astro.props;

const content = marked.parse(body, {
  mangle: false,
  headerIds: false,
});
const wrap = content.startsWith('-wrap-');
const newContent = wrap
  ? content
      .replace(new RegExp('\\b' + '-wrap-' + '\\b', 'gi'), '')
      .replace(/\s{2,}/g, '')
      .trim()
  : content;
---

<div>
  <h3>{title}</h3>

  <article set:html={newContent} class={wrap ? 'wrap' : 'nowrap'} />

  <div class="info">
    <span>- Elijah James</span>
    <div>
      <span>Written: {format(new Date(date_created), 'dd/MM/yyyy')}</span>
      <span>Published: {format(new Date(publishedAt), 'dd/MM/yyyy')}</span>
    </div>
  </div>
</div>

<style lang="scss" is:inline>
  div {
    padding: 0 0.4rem;
    font-family: sinter, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    max-width: 40rem;
  }

  .wrap {
    white-space: wrap;
  }

  .nowrap {
    white-space: nowrap;
  }

  h3 {
    font-family: sinter, sans-serif;
    font-size: 2rem;
  }

  article > p {
    font-size: 1.4rem;
    line-height: 2rem;

    margin-bottom: 0.5rem;

    @media (max-width: 25em) {
      font-size: 1.2rem;
    }
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  span {
    font-size: 1.4rem;
  }
</style>
