---
import { format } from 'date-fns';
import { marked } from 'marked';
type Props = DayTicketAttributes;

const { title, body, date_created, publishedAt } = Astro.props;

const content = marked.parse(body, {
  mangle: false,
  headerIds: false,
});
---

<div>
  <h3>{title}</h3>

  <article set:html={content} />

  <div class="info">
    <span>- Elijah James</span>
    <div>
      <span>Written: {format(new Date(date_created), 'dd/MM/yyyy')}</span>
      <span>Published: {format(new Date(publishedAt), 'dd/MM/yyyy')}</span>
    </div>
  </div>
</div>

<style is:inline>
  div {
    width: 30rem;
    padding: 0 0.4rem;
    font-family: sinter, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
  }

  h3 {
    font-family: sinter, sans-serif;
    font-size: 2rem;
  }

  article > p {
    font-size: 1.4rem;
    line-height: 2rem;

    margin-bottom: 0.5rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  span {
    font-size: 1.4rem;
  }
</style>
