---
import { Icon } from 'astro-icon';
---

<div>
  <div class="main-nav-icon" tabindex="0">
    <Icon name="ph:squares-four" class="squares" />
    <Icon name="ph:squares-four-fill" class="squares-fill opacity" />
  </div>

  <a href="/day-tickets">
    <div class="icon ticket-icon">
      <Icon name="ep:ticket" />
    </div>
  </a>

  <a href="/blog">
    <div class="icon pen-icon">
      <Icon name="mdi:pen" />
    </div>
  </a>

  <a href="/animals-and-architecture">
    <div class="icon camera-icon">
      <Icon name="ic:baseline-camera" />
    </div>
  </a>

  <a href="/elis-little-dictaphone">
    <div class="icon sound-wave-icon">
      <Icon name="bi:soundwave" />
    </div>
  </a>
</div>

<script>
  const header = document.querySelector('.hero');
  const mainNavIcon = document.querySelector('.main-nav-icon') as HTMLElement;
  const squares = document.querySelector('.squares') as HTMLElement;
  const squaresFill = document.querySelector('.squares-fill') as HTMLElement;
  const ticketIcon = document.querySelector('.ticket-icon') as HTMLElement;
  const penIcon = document.querySelector('.pen-icon') as HTMLElement;
  const cameraIcon = document.querySelector('.camera-icon') as HTMLElement;
  const soundWaveIcon = document.querySelector(
    '.sound-wave-icon'
  ) as HTMLElement;
  const stickyNavHeight = (document.querySelector('.sticky-nav') as HTMLElement)
    .offsetHeight;

  const headerObserver = new IntersectionObserver(
    function (entries) {
      const [entry] = entries;
      if (entry.isIntersecting === false) {
        mainNavIcon.classList.add('icon-nav-display');
        ticketIcon.classList.add('icon-nav-display');
        penIcon.classList.add('icon-nav-display');
        cameraIcon.classList.add('icon-nav-display');
        soundWaveIcon.classList.add('icon-nav-display');
      } else {
        mainNavIcon.classList.remove('icon-nav-display');
        ticketIcon.classList.remove('icon-nav-display');
        penIcon.classList.remove('icon-nav-display');
        cameraIcon.classList.remove('icon-nav-display');
        soundWaveIcon.classList.remove('icon-nav-display');
      }
    },
    { root: null, threshold: 0, rootMargin: `-${stickyNavHeight}px` }
  );

  headerObserver.observe(header);

  mainNavIcon.onmouseover = () => {
    mainNavIcon.style.transform = 'scale(110%) rotate(0deg)';
  };

  mainNavIcon.onmouseout = () => {
    mainNavIcon.style.transform = 'scale(100%) rotate(0deg)';
  };

  const toggleIcons = () => {
    if (squares.classList.contains('opacity')) {
      squares.classList.remove('opacity');
      squaresFill.classList.add('opacity');
      ticketIcon.style.right = '6.2rem';
      penIcon.style.right = '6.2rem';
      cameraIcon.style.right = '6.2rem';
      soundWaveIcon.style.right = '6.2rem';
      mainNavIcon.style.transform = 'rotate(0deg)';
      mainNavIcon.onmouseover = () => {
        mainNavIcon.style.transform = 'rotate(0deg)';
      };
      mainNavIcon.onmouseout = () => {
        mainNavIcon.style.transform = 'rotate(0deg)';
      };
      setTimeout(() => {
        mainNavIcon.onmouseover = () => {
          mainNavIcon.style.transform = 'scale(110%) rotate(0deg)';
        };
        mainNavIcon.onmouseout = () => {
          mainNavIcon.style.transform = 'scale(100%) rotate(0deg)';
        };
      }, 500);

      return;
    }

    mainNavIcon.style.transform = 'rotate(-180deg)';
    mainNavIcon.onmouseover = () => {
      mainNavIcon.style.transform = 'rotate(-180deg)';
    };
    mainNavIcon.onmouseout = () => {
      mainNavIcon.style.transform = 'rotate(-180deg)';
    };
    squares.classList.add('opacity');
    squaresFill.classList.remove('opacity');

    if (window.matchMedia('(max-width: 27em)').matches) {
      soundWaveIcon.style.right = '11.5rem';
      cameraIcon.style.right = '16.5rem';
      ticketIcon.style.right = '21.5rem';
      penIcon.style.right = '26.5rem';
      return;
    }

    soundWaveIcon.style.right = '12.5rem';
    cameraIcon.style.right = '17.5rem';
    ticketIcon.style.right = '22.5rem';
    penIcon.style.right = '27.5rem';
  };

  mainNavIcon.addEventListener('keypress', (e: KeyboardEvent) => {
    if (e.key === 'Enter') {
      toggleIcons();
    }
  });

  mainNavIcon.addEventListener('click', toggleIcons);
</script>

<style lang="scss">
  .icon-nav-display {
    transform: translateX(40rem) !important;
  }

  .main-nav-icon {
    height: 6rem;
    width: 6rem;
    background-color: var(--primary-color);
    border: var(--border);

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    bottom: 5rem;
    right: 5rem;

    cursor: pointer;

    z-index: 10;

    transition: all 0.5s ease-in-out;

    &:hover {
      transform: scale(110%);
    }

    @media (max-width: 27em) {
      height: 5rem;
      width: 5rem;
    }
  }

  [astro-icon='ph:squares-four'] {
    height: 4rem;
    width: 4rem;
    position: absolute;

    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  [astro-icon='ph:squares-four-fill'] {
    height: 4rem;
    width: 4rem;
    position: absolute;

    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .icon {
    height: 4rem !important;
    width: 4rem !important;
    background-color: var(--primary-color);
    border: var(--border);

    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    bottom: 6rem;
    right: 6.2rem;

    cursor: pointer;

    z-index: 2;

    transition: all 0.5s ease-in-out;

    &:hover {
      transform: scale(110%);
    }

    @media (max-width: 27em) {
      height: 3.4rem !important;
      width: 3.4rem !important;
    }
  }

  a {
    color: var(--light-color);

    display: flex;
    align-items: center;
    justify-content: center;

    &:focus {
      outline: none;
      box-shadow: 0 0 0 0.4rem var(--light-color);
    }
  }

  [astro-icon='ep:ticket'] {
    height: 2rem;
    width: 2rem;

    transition: opacity 0.5s ease-in-out;
  }

  [astro-icon='mdi:pen'] {
    height: 2rem;
    width: 2rem;

    transition: opacity 0.5s ease-in-out;
  }

  [astro-icon='ic:baseline-camera'] {
    height: 2rem;
    width: 2rem;

    transition: opacity 0.5s ease-in-out;
  }

  [astro-icon='bi:soundwave'] {
    height: 2rem;
    width: 2rem;

    transition: opacity 0.5s ease-in-out;
  }
</style>
