---
import { Icon } from 'astro-icon/components';

type Props = {
  href?: string;
  header: string;
  linkBack?: boolean;
  linkBackTo?: string;
  showBlinkingCursor?: boolean;
};

const {
  href,
  header,
  linkBack = false,
  linkBackTo = 'homepage',
  showBlinkingCursor = true,
}: Props = Astro.props;
---

<div class="container">
  <h1 class={`${!showBlinkingCursor ? 'hideCursor' : null}`}>
    {header}
  </h1>
  {
    linkBack ? (
      <a
        href={href ?? '/'}
        class="link link-back"
        aria-label={`Link to take you back to ${linkBackTo}`}
      >
        <Icon name="cil:arrow-left" />
        Back to {linkBackTo}
      </a>
    ) : null
  }
</div>

<style lang="scss">
  .container {
    width: 26rem;
    height: auto;
    margin-top: 4rem !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border: var(--border);
    padding: 2rem;
    text-align: center;
  }

  @keyframes cursor-blink {
    0% {
      opacity: 0;
    }
  }

  .hideCursor {
    &::after {
      content: '';
      display: none !important;
    }
  }

  h1 {
    font-family: sinter, sans-serif !important;
    font-weight: 900;
    font-style: normal;
    font-size: 3.6rem;

    display: flex;
    align-items: center;

    a {
      color: var(--light-color);
      text-decoration: none;
    }

    a:hover,
    a:visited {
      color: var(--light-color);
      text-decoration: underline;
    }

    &::after {
      content: '';
      margin-left: 0.4rem;
      margin-bottom: 0.6rem;
      width: 0.5rem;
      height: 3.4rem;
      background: var(--primary-color);
      display: inline-block;
      animation: cursor-blink 1.5s steps(2) infinite;
    }
  }

  a {
    display: flex !important;
    align-items: center;
    gap: 1rem;
  }

  .link-back {
    margin-top: -1rem;
  }

  [data-icon] {
    height: 2rem;
    width: 2rem;
    color: var(--primary-color);
  }
</style>
