---
import { Icon } from 'astro-icon';
---

<header class="hero">
  <div class="section-header">
    <nav class="main-nav">
      <a href="#" class="link-scroll">
        <img
          src="src/assets/ejandtn-logo.png"
          alt="Elijah James And The Nightmares logo"
          class="header-logo"
        /></a
      >
      <ul class="nav-pages">
        <a class="link link-scroll" href="#tour">Tour</a>
        <a class="link link-scroll" href="#music">Music</a>
        <a class="link link-scroll" href="#videos">Videos</a>
        <a class="link link-scroll" href="#about">About</a>
        <a class="link" href="#" target="_blank" rel="noreferrer noopener"
          >Shop</a
        >
      </ul>

      <ul class="nav-icons">
        <li>
          <a
            class="icon-link"
            href="https://www.facebook.com/EJANDTN"
            target="_blank"
            rel="noreferrer noopener"
            ><Icon pack="ic" class="icon" name="baseline-facebook" /></a
          >
        </li>
        <li>
          <a
            class="icon-link"
            href="https://www.youtube.com/channel/UCL_coC_N5kLJ-AcbMh3I_fg"
            target="_blank"
            rel="noreferrer noopener"
            ><Icon pack="bi" class="icon" name="youtube" /></a
          >
        </li>
        <li>
          <a
            class="icon-link"
            href="https://www.instagram.com/ejandtn/"
            target="_blank"
            rel="noreferrer noopener"
            ><Icon pack="mdi" class="icon" name="instagram" /></a
          >
        </li>
        <li>
          <a
            class="icon-link"
            href="https://open.spotify.com/artist/7lw3bqd3rCmIYcpy6PnNor?si=LOx3w-k8QfG_Lh5FTb2_Jw"
            target="_blank"
            rel="noreferrer noopener"
          >
            <Icon pack="mdi" class="icon" name="spotify" /></a
          >
        </li>
        <li>
          <a
            class="icon-link"
            href="https://music.apple.com/gb/artist/elijah-james-and-the-nightmares/1271334018"
            target="_blank"
            rel="noreferrer noopener"
            ><Icon pack="mdi" class="icon" name="apple" /></a
          >
        </li>
        <li>
          <a
            class="icon-link"
            href="https://twitter.com/EJANDTN"
            target="_blank"
            rel="noreferrer noopener"
            ><Icon pack="mdi" class="icon" name="twitter" /></a
          >
        </li>
      </ul>
    </nav>

    <div class="header-container">
      <div class="header-container-inner">
        <div class="header-text">
          Debut Double Album <br />
          'Because I'm A Giant' <br />
          Out Now
        </div>
        <a class="link-scroll" href="#music"
          ><button class="btn listen-btn">Listen</button></a
        >
        <a href="#" target="_blank" rel="noreferrer noopener"
          ><button class="btn buy-btn">Buy Here</button></a
        >
      </div>
    </div>
  </div>
</header>

<style lang="css">
  header {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(
        rgba(34, 34, 34, 0.3),
        rgba(34, 34, 34, 0.3)
      ),
      url(../assets/Because-im-a-giantai-art-only-2-reduce.jpg);
    background-position: center center;
    background-size: cover;
  }

  .section-header {
    position: absolute;
    top: 8rem;
    left: 8rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .header-logo {
    width: 38rem;
    cursor: pointer;

    margin-bottom: -1rem;
  }

  .main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
  }

  .nav-pages {
    list-style: none;

    display: flex;
    gap: 2rem;
  }

  .nav-pages a {
    font-size: 2rem;
    text-transform: uppercase;
    cursor: pointer;
  }

  .nav-icons {
    list-style: none;

    display: flex;
    gap: 1.8rem;
  }

  [astro-icon] {
    height: 3.2rem;
    width: 3.2rem;
    cursor: pointer;
  }

  .icon-link:link,
  .icon-link:visited {
    display: inline-block;
    color: #f0f2e6;
    transition: all 0.3s;
  }

  .icon-link:hover,
  .icon-link:active {
    color: #f0f2e6;

    transform: scale(1.05);
  }

  .header-container-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .header-text {
    font-family: 'rockwell', sans-serif;
    font-size: 2.4rem;
    line-height: 3.2rem;
    text-transform: uppercase;
    text-align: center;
  }

  .listen-btn {
    padding: 1.2rem 2.4rem 1.2rem 2.4rem !important;
  }

  .listen-btn::after {
    content: '';
    width: 10.2rem;
    height: 0.2rem;
    background-color: #f0f2e6;

    position: absolute;
    bottom: -0.8rem;
    left: 0;

    transition: all 0.3s;
  }

  .listen-btn:hover::after {
    transform: translateY(-0.6rem);
  }

  .buy-btn::after {
    content: '';
    width: 10.4rem;
    height: 0.2rem;
    background-color: #f0f2e6;

    position: absolute;
    bottom: -0.8rem;
    left: 0;

    transition: all 0.3s;
  }

  .buy-btn:hover::after {
    transform: translateY(-0.6rem);
  }
</style>
