---
type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" content={description} />
<meta name="viewport" content="width=device-width" />
<link
  rel="icon"
  type="image/svg+xml"
  href="/white-text-EJANDTN-FAVICON-small.png"
/>
<meta name="generator" content={Astro.generator} />

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css"
/>
<link rel="stylesheet" href="https://use.typekit.net/jmg5pxd.css" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,400&display=swap"
  rel="stylesheet"
/>

<title>{title}</title>
