---
type Props = {
  title: string;
  description: string;
  canonicalURL: URL;
};

const { title, description, canonicalURL } = Astro.props;
console.log(canonicalURL);
---

<meta charset="UTF-8" />
<meta name="description" content={description} />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" sizes="any" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />
<meta
  property="og:image"
  content="https://www.elijahjamesandthenightmares.com/public/social-sharing-logo.png"
/>
<link rel="sitemap" href="/sitemap-index.xml" />
<link rel="canonical" href={canonicalURL.href} />

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css"
/>
<link rel="stylesheet" href="https://use.typekit.net/jmg5pxd.css" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,400&display=swap"
  rel="stylesheet"
/>
<meta
  http-equiv="Content-Security-Policy"
  content="
      script-src 'unsafe-inline' https://p.typekit.net/
      font-src https://use.typekit.net/ https://fonts.googleapis.com https://fonts.gstatic.com
      style-src 'self' https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/;
      img-src 'self' 'unsafe-inline' https://*.amazonaws.com data: https://i.ytimg.com/vi/;
      frame-src https://www.youtube-nocookie.com/embed/"
/>

<title>{title}</title>
