---

---

<nav class="main-nav">
  <ul class="nav-pages">
    <li>
      <a class="link" href="/tour">Tour</a>
    </li>
    <li>
      <a class="link" href="/music">Music</a>
    </li>
    <li>
      <a class="link" href="/videos">Videos</a>
    </li>
    <li>
      <a class="link" href="/about">About</a>
    </li>
    <li>
      <a class="link" href="/subscribe">Subscribe</a>
    </li>
    <li>
      <a
        class="link"
        href="https://ejandtn.bandcamp.com/merch"
        target="_blank"
        rel="noreferrer noopener"
        aria-label="Link to take you to bandcamp merch shop">Shop</a
      >
    </li>
  </ul>
</nav>

<style lang="css">
  .main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
  }

  .nav-pages {
    list-style: none;

    display: flex;
    gap: 2rem;
  }

  .nav-pages li {
    font-size: 2rem;
    text-transform: uppercase;
    cursor: pointer;
  }
</style>
