---
import { Icon } from 'astro-icon/components';

type Props = {
  iconHeight: string;
  iconWidth: string;
};

const { iconHeight, iconWidth }: Props = Astro.props;
---

<ul class="nav-icons">
  <li>
    <a
      class="icon-link"
      href="https://www.facebook.com/ejhallows"
      target="_blank"
      rel="noreferrer noopener"
      aria-label="Link to take you to facebook page"
    >
      <Icon class="icon" name="ic:baseline-facebook" />
    </a>
  </li>
  <li>
    <a
      class="icon-link"
      href="https://www.youtube.com/@ejhallows"
      target="_blank"
      rel="noreferrer noopener"
      aria-label="Link to take you to youtube page"
    >
      <Icon class="icon" name="bi:youtube" />
    </a>
  </li>
  <li>
    <a
      class="icon-link"
      href="https://www.tiktok.com/@ejhallows"
      target="_blank"
      rel="noreferrer noopener"
      aria-label="Link to take you to tiktok page"
    >
      <Icon class="icon" name="ic:baseline-tiktok" />
    </a>
  </li>
  <li>
    <a
      class="icon-link"
      href="https://www.instagram.com/ejhallows/"
      target="_blank"
      rel="noreferrer noopener"
      aria-label="Link to take you to instagram page"
    >
      <Icon class="icon" name="mdi:instagram" />
    </a>
  </li>
  <li>
    <a
      class="icon-link"
      href="https://bsky.app/profile/ejhallows.bsky.social"
      target="_blank"
      rel="noreferrer noopener"
      aria-label="Link to take you to bluesky page"
    >
      <Icon class="icon" name="ri:bluesky-fill" />
    </a>
  </li>
</ul>

<style lang="css" define:vars={{ iconHeight, iconWidth }}>
  .nav-icons {
    list-style: none;

    display: flex;
    gap: 1.8rem;
  }

  [data-icon] {
    height: var(--iconHeight);
    width: var(--iconWidth);
    cursor: pointer;
  }

  .icon-link:link,
  .icon-link:visited {
    display: inline-block;
    color: var(--light-color);
    transition: all 0.3s;
  }

  .icon-link:hover,
  .icon-link:active {
    color: var(--light-color);

    transform: scale(1.05);
  }
</style>
