---
import { Image } from '@astrojs/image/components';
import { Icon } from 'astro-icon';
import LOGO from '../assets/ejandtn-logo.png';
---

<nav class="sticky-nav">
  <a href="#" class="link-scroll"
     aria-label='Link to scroll back up to top of page'
    ><Image
      src={LOGO}
      alt="Elijah James And The Nightmares logo"
      class="sticky-nav-logo"
      format="webp"
    /></a
  >
  <ul class="nav-pages sticky-nav-pages">
    <li>
      <a class="link link-scroll sticky-nav-link" href="#tour" aria-label='Link to take you to the tour section'>Tour</a>
    </li>
    <li>
      <a class="link link-scroll sticky-nav-link" href="#music" aria-label='Link to take you to the music section'>Music</a>
    </li>
    <li>
      <a class="link link-scroll sticky-nav-link" href="#videos" aria-label='Link to take you to the videos section'>Videos</a>
    </li>
    <li>
      <a class="link link-scroll sticky-nav-link" href="#about" aria-label='Link to take you to the about section'>About</a>
    </li>
    <li>
      <a
        class="link sticky-nav-link"
        href="https://ejandtn.bandcamp.com/merch"
        target="_blank"
        rel="noreferrer noopener"
        aria-label='Link to take you to the bandcamp merch store'>Shop</a
      >
    </li>
  </ul>
  <button class="btn-mobile-nav">
    <Icon pack="ic" class="icon-mobile-nav-menu" name="baseline-menu" />
    <Icon
      pack="ic"
      class="icon-mobile-nav-close nodisplay"
      name="baseline-close"
    />
  </button>
</nav>

<script>
  const stickyNav = document.querySelector('.sticky-nav');
  const stickyNavHeight = (document.querySelector('.sticky-nav') as HTMLElement)
    .offsetHeight;
  const header = document.querySelector('.hero');
  const btnMobNav = document.querySelector('.btn-mobile-nav');
  const menuIcon = document.querySelector('.icon-mobile-nav-menu');
  const closeIcon = document.querySelector('.icon-mobile-nav-close');

  const headerObserver = new IntersectionObserver(
    function (entries) {
      const [entry] = entries;
      entry.isIntersecting === false
        ? stickyNav.classList.add('display')
        : stickyNav.classList.remove('display');
    },
    { root: null, threshold: 0, rootMargin: `-${stickyNavHeight}px` }
  );

  headerObserver.observe(header!);

  btnMobNav.addEventListener('click', () => {
    stickyNav.classList.toggle('nav-open');
  });

  menuIcon.addEventListener('click', () => {
    menuIcon.classList.toggle('nodisplay');
    closeIcon.classList.toggle('nodisplay');
  });

  closeIcon.addEventListener('click', () => {
    menuIcon.classList.toggle('nodisplay');
    closeIcon.classList.toggle('nodisplay');
  });
</script>

<style lang="css">
  .display {
    transform: translateX(0) !important;
  }

  .sticky-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8rem;
    padding: 2.4rem;
    background-color: rgba(9, 13, 22, 0.89);
    z-index: 999;
    transform: translateX(-100%);
    transition: all 0.5s ease-in;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .sticky-nav-logo {
    height: 100%;
    width: 24rem;
    cursor: pointer;
  }

  .sticky-nav-link:link,
  .sticky-nav-link:visited {
    color: #f0f2e6;
  }

  .sticky-nav-link:hover,
  .sticky-nav-link:active {
    color: #6e95ce;
  }

  .nav-pages {
    list-style: none;

    display: flex;
    gap: 2rem;
  }

  .nav-pages li {
    font-size: 2rem;
    text-transform: uppercase;
    cursor: pointer;
  }

  /* MOBILE NAV */
  .btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;

    display: none;
  }

  [astro-icon] {
    height: 4.8rem;
    width: 4.8rem;
    color: #f0f2e6;
  }
</style>
