---
import { Icon } from 'astro-icon';
---

<nav class="sticky-nav">
  <a href="#" class="link-scroll"
    ><img
      src="/src/assets/ejandtn-logo.png"
      alt="Elijah James And The Nightmares logo"
      class="sticky-nav-logo"
    /></a
  >
  <ul class="nav-pages sticky-nav-pages">
    <li>
      <a class="link link-scroll sticky-nav-link" href="#tour">Tour</a>
    </li>
    <li>
      <a class="link link-scroll sticky-nav-link" href="#music">Music</a>
    </li>
    <li>
      <a class="link link-scroll sticky-nav-link" href="#videos">Videos</a>
    </li>
    <li>
      <a class="link link-scroll sticky-nav-link" href="#about">About</a>
    </li>
    <li>
      <a
        class="link sticky-nav-link"
        href="#"
        target="_blank"
        rel="noreferrer noopener">Shop</a
      >
    </li>
  </ul>
  <button class="btn-mobile-nav">
    <Icon pack="ic" class="icon-mobile-nav" name="baseline-menu" />
    <Icon pack="ic" class="icon-mobile-nav" name="baseline-close" />
  </button>
</nav>

<style>
  .display {
    transform: translateX(0);
  }

  .sticky-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 8rem;
    padding: 2.4rem;
    background-color: rgba(9, 13, 22, 0.89);
    z-index: 999;
    transform: translateX(-100%);
    transition: all 0.5s ease-in;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .display {
    transform: translateX(0);
  }

  .sticky-nav-logo {
    width: 24rem;
    cursor: pointer;
  }

  .sticky-nav-link:link,
  .sticky-nav-link:visited {
    color: #f0f2e6;
  }

  .sticky-nav-link:hover,
  .sticky-nav-link:active {
    color: #6e95ce;
  }

  /* MOBILE NAV */
  .btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;

    display: none;
  }

  [astro-icon] {
    height: 4.8rem;
    width: 4.8rem;
    color: #f0f2e6;
  }

  .icon-mobile-nav[name='baseline-close'] {
    display: none;
  }
</style>
