---
---

<nav class="sticky-nav">
  <a href="#" class="link-scroll"
    ><img
      src="imgs/ejandtn-logo.png"
      alt="Elijah James And The Nightmares logo"
      class="sticky-nav-logo"
    /></a
  >
  <ul class="nav-pages sticky-nav-pages">
    <li>
      <a class="link link-scroll sticky-nav-link" href="#tour">Tour</a>
    </li>
    <li>
      <a class="link link-scroll sticky-nav-link" href="#music">Music</a>
    </li>
    <li>
      <a class="link link-scroll sticky-nav-link" href="#videos">Videos</a>
    </li>
    <li>
      <a class="link link-scroll sticky-nav-link" href="#about">About</a>
    </li>
    <li>
      <a
        class="link sticky-nav-link"
        href="#"
        target="_blank"
        rel="noreferrer noopener">Shop</a
      >
    </li>
  </ul>
  <button class="btn-mobile-nav">
    <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
    <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
  </button>
</nav>
