---
import SubscribeForm from './SubscribeForm.astro';
---

<section class="subscribe-section section-seperator">
  <h1 class="form-header">Subscribe</h1>

  <SubscribeForm direction="flex" />

</section>

<style lang="css">
  .subscribe-section {
    padding: 9.8rem;
    background-color: var(--dark-color);
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
  }

  @media (max-width: 35em) {
    .subscribe-section {
      padding: 2.8rem;
    }
  }

  .sub-icon {
    height: 2rem;
    width: 2rem;
  }
</style>
