---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
---

<div class="container">
  {
    posts.map(({ id, slug, data: { title, image } }) => {
      return (
        <a
          class="img-box"
          href={`/blog/${slug}`}
          aria-label={`Link to take you to a blog post for ${title}`}
        >
          <Image
            class="main-img"
            src={image}
            alt={`Photo for blog post connected to ${title}`}
            height="10"
            width="10"
            format="webp"
          />
        </a>
      );
    })
  }
</div>
<style lang="scss">
  .container {
    height: auto;
    max-width: 80rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.2rem;
  }

  .img-box {
    height: 100;
    width: 100%;

    cursor: pointer;

    object-fit: contain;

    transition: all 0.5s linear;

    &:hover {
      transform: scale(110%);
    }
  }

  .main-img {
    height: 100%;
    width: 100%;
  }
</style>
